.electimg{
  margin-top:20px;
  display: grid;
  place-items:center
  
}
.electimg img{
  height:150px;
  width:150px;
  border-radius: 50%;
  border:3px solid #ccc;
  padding: 8px;
}
.title {
  margin-top:8px;
  font-size:1.5em
}
.stats{
  margin-top:8px;
  display: flex;
  justify-content: center
}
.stats div {
  text-align: center;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: var(--color-bg2);
  padding :18px;
  border-radius:6px
}
.stats div p:nth-child(1){
  font-size: 0.7em;
  color:var(--color-sub)
}
