.jumboContainer {
  display:grid;
  place-items:center;
  margin-top: 62px
}
.jumboContainer img{
  height:180px;
  width:180px;
  border-radius: 50%;
  border: 1px dashed #ccc;
  padding:12px
}
.info{
  margin-top: 14px;
  margin-bottom: 18px
}
.appnamejumbo{
  font-size: 2em;
  text-align: center
}
.appdesc{
  text-align: center;
  width:75%;
  margin: auto;
  margin-top:4px;
  color: var(--color-sub);
}
hr{
  border:thin solid rgba(255,255,255,0.1);
  
}
i{
  color:var(--color-primary)
}